@font-face {
    font-family: 'ChillaxRegular';
    src: url("../fonts/Chillax-Regular.otf");
}

@font-face {
    font-family: 'ChillaxBold';
    src: url("../fonts/Chillax-Semibold.otf");
}

.wrapper {
    width: 100%;
}

.grid-container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 45vh);
    grid-template-rows: repeat(1, 29vh);
    grid-gap: 20px;
    row-gap: 10px;
    /* new styles below */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.grid-item {
    width: 44vh;
    height: 21vh;
    max-width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.grid-item:hover {
::webkit-transform: scale(1.003);
    transform: scale(1.003);
}

.grid-item img {
    max-width: 100%;
    object-fit: cover;
}

.project-name {
    position: absolute;
    top: 22.5vh;
    font-family: Lato, sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
}

.project-name a {
    text-decoration: none;
    color: #f9f7f7;
}

.project-name a:hover {
    color: #9ccaff;
}



.slider-wrapper {
    position: relative;
    overflow: hidden;
}


.slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    border-radius: 2vh;
}

.slider img {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1vh;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    background-color: #3f73b7;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
    transform: scale(1.1);
}


#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.copied-container {
    position: absolute; /* position the container relative to the viewport */
    top: 50%; /* position the top  edge of the container at the middle of the parent */
    left: 50%; /* position the left edge of the container at the middle of the parent */
    transform: translate(-50%, -50%); /* translate the container to the top left, relative to its own dimension */
}








