/* =======================================================
*
* 	Template Style
*
* ======================================================= */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #3F72AF;
  overflow: hidden;
}


header {
  width: 100%;
  height: 5vh;
  background: #112D4E;
  position: relative;
}


.wrapper {
  width: 100%;
}


.logo {
  float: left;
  width: 5%;
  text-align: left;
  padding: 0 1.5vh;
}



.logo img {
  width: 5vh;
  height: 5vh;
  float: left;
  margin: 0 -0.9vh;
}


nav {
  position: relative;
  float: right;
  line-height: 4.5vh;
  margin: 0 25px;
}

nav a{
  font-family: 'Lato', sans-serif;
  font-size: 1vw;
  color: #fff;
  margin: 0 1.5vh;
  font-weight: 500;
}

nav a:hover{
  color: #3F72AF;
}

@media (max-width: 600px) {
  nav a {
    font-size: 1.5vw;
  }
}

navtitle {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  font-weight: bold;
  font-family: Lato, serif;
  font-size: 1.5vw;
  color: #ffffff;
  transform: translate(-50%, -50%);
}
